.mainforecastbody {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    background-color: #696969;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100px;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}
table{
    display:none;
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 10px;
}

tr {
    text-align: center;
}