h1 {
    font-size: 24px;
}

#locationInput {
    width: 100px;
    text-align: center;
}

.weather-info {
    margin-top: 20px;
}
table{
    display:none;
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 10px;
}

tr {
    text-align: center;
}

#forecast {
    text-align: center;
}